[*.cs]

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = suggestion
